* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 50px 150px;
  /* font-family: Arial, Helvetica, Arial sans-serif; */
}

.form-heading {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 50px;
}

.introduce {
  margin-bottom: 1rem;
}
.introduce p {
  font-size: 1.4rem;
  margin-bottom: 1rem
}
.introduce blockquote {
  font-weight: bold;
}
.introduce img {
  height: 100%;
  width: 100%;
  padding: 10px;
}
blockquote {
  padding: 0.5rem 1.25rem;
  margin: 0 0 1rem;
  font-size: 1.25rem;
  border-left: 5px solid #294263;
  font-style: italic;
}

.form {
  /* padding: 50px 150px; */
}

h2 {
  text-align: center;
  font-size: 1.8rem;
  padding-top: 50px;
}
.form-container {
  font-size: 1.4rem;
}

.form-content {
  padding-top: 30px;
}

.form-content--heading {
  padding-bottom: 30px;
}

.form-item {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
}
.form-item--checkbox {
  height: 20px;
  width: 20px;
}
.form-item--content {
  padding-left: 10px;
}
.form-button {
  text-align: center;
  padding-top: 50px;
}

.form-button button {
  border-radius: 10px;
  padding: 15px;
  font-size: 1.4rem;
  background-color: antiquewhite;
}

.chartBox {
  width: 700px;
  /* padding: 20px; */
  /* border-radius: 20px; */
  /* border: solid 3px rgba(54, 162, 235, 1); */
  background: white;
  height: 500px !important;
  width: 500px !important;
  text-align: center;
}
