* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;

}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* font-family: Arial, Helvetica, Arial sans-serif; */
}

.navbar {
  box-shadow: 5px 5px 5px 5px #eceaea;
}

.logo-link {
  width: 100%;
  height: 100%;
}

.navbar_container-list--item {
  position: relative;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.navbar_container-list {
  list-style: none;
  display: flex;
  font-size: 1.8rem;
}

.navbar_container-item {
  padding: 20px;
  position: relative;
  display: inline-block;
}

.navbar_container-link {
  color: black;
}

.navbar_container-item:hover {
  padding: 20px;
  opacity: 0.9;
}

.navbar_container-item::after{
  content: "";
  height: 2px;
  width: calc(100% - 40px);
  display: none;
  position: absolute;
  margin-top: 5px;
  text-align: center;
  /* left: 15px; */
  background: linear-gradient(to right, rgb(130, 210, 210), rgb(156, 162, 216));
}
.navbar_container-item:hover::after {
  display: block;
}
/* SEARCH */
.navbar_container-search{
  position: relative;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_container-search > .img-small{
  width: 20px;
  height: 20px;
  font-size: 20px;
  color: var(--white-color);
  cursor: pointer;
}

.navbar_container-search-icon:hover ~ .navbar_container-search-input{
  display: block;
}

.navbar_container-search-input{
  display: none;
  position: absolute;
  height: 35px;
  width: 200%;
  margin-top: 57px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 20px;
  font-size: 1.3rem;
  right: 0;
  box-shadow: 0 8px 20px rgb(0 0 0 / 15%);
  transition: searchBtn ease 5s;
  z-index: 1;
}
.navbar_container-search-input.active{
  display: block;
}
.navbar_container-search:hover .navbar_container-search-input{
  opacity: 1;
  display: block;
}
.navbar_container-search::after{
  content: "";
  display: block;
  position: relative;
  /* height: 12px; */
  /* width: 40px; */
  top: 0;
  background-color: red;
}

.nav-input:checked ~ .nav-mobile-search{
  display: block;
}
/* FORM */
.form {
  padding: 50px 150px;
}
.slider{
  width: 100%;
  background-color: #dee5fa;
}
.slider_container{
  padding: 30px 20px;
}
.slider_container-heading{
  color: #704e80;
  font-size: 1.6rem;
  font-weight: 700;
}
.slider_container h2{
  text-align: left;
  font-size: 2.8rem;
  font-weight: 700;
  padding-bottom: 20px;
  padding-top: 10px;
}
.slider_container p{
  font-size: 1.6rem;
  line-height: 2rem;
  /* font-weight: 700; */
  margin-bottom: 50px;
}
.slider_container-button{
  padding: 1rem 2.2rem;
  font-size: 1.6rem;
  border-radius: 0.3rem;
  background-color: #137B92;
  border-color: #137B92;
  color: white;
}
.container_card{
  width: 100%;
}
.container_card-list{
  /* position: absolute; */
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  left: 0;
  bottom: 100%;
  margin: 0;
  padding: 15px 0;
}

.container_card-item{
  font-size: 1.4rem;
  font-weight: 600;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-grow: 1;
  text-transform: uppercase;
  background-color: var(--white-color);
  cursor: pointer;
}
.container_card-item .img-small{
  width: 100px;
  height: 100px;
}
.container_card-item span{
  padding-top: 15px;
  text-align: center;
}
.container_card-item:hover{
  filter: brightness(300%) grayscale(100%);
}

/* scroll */
.scroll-top{
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--primary-color);
  right: 30px;
  bottom: 50px;
  z-index: 50;
}
.scroll-top i{
  height: 30px;
  width: 30px;
  font-size: 2.2rem;
  color: var(--white-color);
  background-color: #8d4fff;
  z-index: 60;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 20%;
}
/* social */

.container_form{
  padding: 50px 100px;
}
.container_form-introduce h2{
  text-align: center;
  padding-bottom: 20px;
}
.container_form-content{
  padding-top: 20px;
}
.container_form-heading {
  font-size: 3.5rem;
  text-align: center;
  padding-bottom: 50px;
}

.container_form-introduce {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.container_form-introduce p {
  margin-bottom: 1rem
}
.container_form-introduce blockquote {
  font-weight: bold;
}
.container_form-introduce img {
  height: 50%;
  width: 50%;
  padding: 10px;
}
blockquote {
  padding: 0.5rem 1.25rem;
  margin: 0 0 1rem;
  font-size: 1.4rem;
  border-left: 5px solid #294263;
  font-style: italic;
}
.container_form-introduce h1{
  text-align: center;
}
.form {
  padding: 50px 150px;
}

h2 {
  text-align: center;
  font-size: 1.8rem;
  padding-top: 50px;
}
.container_form-content {
  font-size: 1.4rem;
}

.form-content--heading {
  padding: 15px 0;
}

.form-item {
  align-items: center;
}
.form-item--checkbox {
  height: 20px;
  width: 20px;
}
.form-item--content {
  padding: 0 0 10px 0;
  display: block;
}
.form-item--content input{
  height: 20px;
  width: 20px;
  padding-right: 10px;
}
.form-button {
  text-align: center;
  padding-top: 50px;
}

.form-button input {
  padding: 10px 40px;
  font-size: 1.4rem;
  background-color: #137b92;
  color: white;
  border-radius: 10px;
  border: solid;
  font-size: 1.6rem;
}
.form-button--reset {
  color: white;
    padding: 10px 40px;
    font-size: 1.4rem;
    background: #da3445;
    color: white;
    border-radius: 10px;
    border: solid;
    font-size: 1.6rem;
    margin-right: 100px;
}

.form-button input:hover{
  opacity: 0.9;
}
/* CHART */
.chart{
  position: relative;
  padding: 50px 100px;
}
.chart h1{
  text-align: center;
  padding-bottom: 50px;
  font-size: 3.5rem;
  color: #34648d;
}
.chart_radar {
  /* width: 700px; */
  background: white;
  text-align: center;
}
.chart_form{
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  padding: 20px;
  border: solid 1px black;
  font-size: 1.4rem;
  margin-top: 50%;
}
.chart_form label{
  margin-bottom: 10px;
}
.chart_radar button{
  padding: 10px 40px;
  font-size: 1.4rem;
  background-color: #137b92;
  color: white;
  border-radius: 10px;
  border: solid;
  font-size: 1.6rem;
}
.chart_radar a{
  color: white;
    padding: 10px 40px;
    font-size: 1.4rem;
    background: #da3445;
    color: white;
    border-radius: 10px;
    border: solid;
    font-size: 1.6rem;
    margin-right: 100px;
}
.chart_form input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}
.chart_form__submit{
  width: 100%;
  background-color: seagreen;
  color: white;
  padding: 15px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.chart_form__submit:hover{
  opacity: 0.9;
}


/*  */
.navbar_container-menu{
  display: none;
}

.navbar_menu_overlay{
  position: fixed; 
  /* phủ kín màn hình */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  animation: fadeIn linear 0.2s;
}
.navbar_bar_menu{
  display: block;
  position: fixed;
  z-index: 100;
  max-width: 100%;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0;
  background: linear-gradient(to right,#fa9e1b,#8d4fff);
  transform: translateX(100%);
  transition: transform linear 0.2s, opacity linear 0.3s ;
}
.nav-search:checked ~ .navbar_container-search{
  display: block;
}
.nav-input:checked ~ .navbar_menu_overlay{
  display: block;
}
.nav-input:checked ~ .navbar_bar_menu{
  transform: translateX(0);
  opacity: 1;
}

.nav_mobile-close{
  position: absolute;
  font-size: 4rem;
  color: var(--white-color);
  right: 35px;
  top: 30px;
}
.bar_menu-close:hover,
.bar_item-link:hover{
  cursor: pointer;
  color: #ee9621;
}
.navbar_container_mb_list{
  display: flex;
  list-style: none;
  justify-content: space-between;
  right: 0;
  padding-left: 50px;
}
.navbar_container_mb_list ul{
  list-style: none;
  margin-top: 50px;
}
.bar_item-link{
  display: block;
  text-decoration: none;
  padding: 20px 0px;
  font-size: 2.5rem;
  font-family: Beyond;
  color: var(--white-color);
  font-weight: 500;
}
